.Index {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url(/static/line.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextHello, .TextHello h1 {
  margin: 0px 20px;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: white;
  text-align: center;
}

.TextButton {
  margin-top: 40px;
}

.Highlight {
  color: #ffc107!important;
}