@font-face {
  font-family: hmos;
  src: url(assets/font.ttf);
}

body {
  margin: 0;
  font-family: 'hmos', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html{
  /* height: 100%; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiButton-root {
  text-transform: capitalize !important;
}
.page{
  padding: 80px 0;
}
.page-bg-white{
  background-color: white;
}
.page-bg-gray{
  background-color: rgb(248, 248, 251);
}


.page-main-content{
  text-align: center;
  padding: 48px 20px;
}

.page-download-panel{
  position: relative;
  
}

.text-yellow {
  color: #ffc107!important;
}

.page-content{
padding: 12px 0px;
}