.page-content {
  padding: 12px 0px;
}

.page-main {
  padding-bottom: 20px;
  background-color: rgb(29, 39, 43);
  color: white;
  min-height: 660px;
  background-image: url("../../assets/line.png");
}